ion-avatar{
    width: 30%;
    height: 14%;
    margin: auto;
  }

ion-footer{
    margin-top: 125%;
    box-shadow: unset;
    text-align: center;
}


ion-icon{
  margin-right: 5%;
}

img
{
  max-width: 100%;
  height: 80%;
}
